mobio-base-sdk==1.0.12
pymongo==4.3.3
python-dotenv==1.0.0
mobio-admin-sdk
python-dateutil
m-utilities
Flask~=2.2.3
marshmallow~=3.19.0
Jinja2~=3.1.2
pymongo~=4.3.3
kafka-python
pytz==2022.7.1
pyJWT~=2.6.0
pandas==1.5.3
openpyxl==3.1.2